<h2>Alta de Artículos</h2>
<form>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="nombre" name="nombre">
  
  <label>Precio:</label>
  <input type="number" [(ngModel)]="precio" name="precio">
  
  <label>Unidades:</label>
  <input type="number" [(ngModel)]="unidades" name="unidades">

  <button (click)="agregarArticulo()">Comprar</button>
</form>

<h2>Lista de artículos</h2>
<ul>
  <li *ngFor="let articulo of articulos; let i = index">
    {{ i + 1 }}. {{ articulo.nombre }} - Precio: ${{ articulo.precio }} - Unidades: {{ articulo.unidades }}
  </li>
</ul>

<!--Pasamos la lista de articulos al componente hijo-->
<hr>
<app-listado-articulos [articulos]="articulos"></app-listado-articulos>
