<h2>Alta de Artículos</h2>
<form>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="nombre" name="nombre" id="name">
  
  <label>Precio:</label>
  <input type="number" [(ngModel)]="precio" name="precio" id="precio">
  
  <label>Unidades:</label>
  <input type="number" [(ngModel)]="unidades" name="unidades" id="unidades">

  <button (click)="agregarArticulo()">Comprar</button>
</form>

<!--HAY QUE LLAMAR A LA LISTA CREADA EN LISTADO ARTICULOS.TS-->
<app-listado-articulos [articulos]="articulos"></app-listado-articulos>

<!--CARACTERISTICAS DE ARTICULOS-->
<app-caracteristica-articulos (selected)="agregarCaracteristica($event)"></app-caracteristica-articulos>
<p>La caracteristica es: {{valorhijo}}</p>