<h1>{{titulo}}</h1>

<form action="" >
  <label form="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre">

  <label form="apellido">Apellido</label>
  <input type="text" name="apellido" id="apellido"[(ngModel)]="apellido">

  <button (click)="anadirUsuario()">Alta</button>
  <div *ngIf="usuarioAlta; else sinAlta">
    <p class="morado">Alta correcta del usuario {{ nombre }} {{ apellido }}</p>
  </div>
<ng-template #sinAlta> <!--ESTO ES PARA EL ELSE-->
  <p>Ninguna Alta</p>
</ng-template>
</form>

<div *ngFor="let persona of personas">
  {{persona.nombre}} {{persona.apellido}} {{persona.edad}}
</div>


