<h2>Detalles Planeta</h2>
<p><strong>Nombre Planeta: </strong>{{(planeta$ | async)?.name}}</p>
<p><strong>Rotation period: </strong>{{(planeta$ | async)?.rotation_period}}</p>
<p><strong>Orbital Period: </strong>{{(planeta$ | async)?.orbital_period}}</p>
<p><strong>Diameter: </strong>{{(planeta$ | async)?.diameter}}</p>
<p><strong>Climate: </strong>{{(planeta$ | async)?.climate}}</p>
<p><strong>Gravity: </strong>{{(planeta$ | async)?.gravity}}</p>
<p><strong>Terrain: </strong>{{(planeta$ | async)?.terrain}}</p>
<p><strong>Surface_water: </strong>{{(planeta$ | async)?.surface_water}}</p>
<p><strong>Population: </strong>{{(planeta$ | async)?.population}}</p>
